{% extends 'base.html' %}

{% block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/items.css') }}">
{% endblock %}

{% block head %}
<h1 style="text-align: center">Menu</h1>
{% endblock%}

{% block body %}
<div class="container">
    <!-- Menu Section -->
    <div class="menu">
        <h2>Menu</h2>
        <table>
            {% for item in items %}
                <tr>
                    <td id="item-{{ item.id }}">
                        <a href="#" onclick="selectItem({{item.id}})"> {{item.name}}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Cart Section -->
    {% include 'cart.html' %}
</div>

<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}

